<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Home Page</h1>
      <h2 class="display-4" > Welcome to our Bar Beer Drinker Webpage</h2>
      <p class="lead"></p>
    </div>
</div>

<div class = "container">
  <div id ="outer">
    <h5>Click to View</h5>
    <div class = "inner"><button type = "button">
        <a routerLink ="/bars/">
          Bars
        </a></button> 
    </div>
    <div class = "inner"><button type = "button">
        <a routerLink ="/beers/">
           Beers
        </a></button> 
    </div>
    <div class = "inner"><button type = "button">
          <a routerLink ="/drinkers/">
            Drinkers
          </a></button> 
    </div>
    <div class = "inner"><button type ="button">
          <a routerLink ="/modifications/">
            Modifications
          </a></button>
    </div>
  </div>
</div>